@font-face {
  font-family: "poppins";
  src: url(./fonts/Poppins-Regular.ttf) format(ttf);
}

*,
*::before,
*::after {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins";
}